.results-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.results {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border: 1px solid;
    margin-bottom: 1rem;
    padding: .9rem;
    background: darkgray;
    font-family: monospace;
}

    .emoji-results-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 2.7rem;
    }

        .emoji-results-content span {
            font-size: 2.7rem;
            font-weight: 600;
        }

        .emoji-results-content img {
            max-width: 50%;
        }