.button-content {
    width: 210px;
    height: 45px;
    margin: 0 auto;
}

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #cd363b;
        width: 100%;
        border: none;
        height: 100%;
        border-radius: 6px;
        font-size: 2.1rem;
        color: lightgray;
        cursor: pointer;
        transition: .2s ease-in;
    }
        .fas {
            margin-right: .9rem;
        }

@media screen and (min-width: 879px) {

    button:hover {
        border: 1px solid #cd363b;
        background: lightgray;
        color: #cd363b;
    }
    
}