.calculator-content {
    background-color: rgb(93, 90, 90);
    border-radius: 6px 21px 6px 21px;
    padding: 3rem;
    width: 270px;
    height: 447px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.2rem;
}

    .inputs-content {
        width: 100%;
        height: 29rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .range-inputs-content {
            width: 100%;
            margin-bottom: .9rem;
            position: relative;
        }
            .range-inputs-content label {
                font-size: 1.4rem;
                font-weight: bold;
                color: rgb(22, 21, 21);
            }

            input {
                -webkit-appearence: none;
                appearance: none;
                outline: none;

                width: 100%;
                height: 6px;
                margin-top: .9rem;

                /* text-align: center;
                font-size: 1.5rem; */
                color: #333;
                opacity: .3;
                background-color: darkgray;
                border-radius: 4px;
            }
                input::-webkit-slider-thumb {
                    -webkit-appearence: none;
                    appearance: none;
                    /* background-color: #333; */
                    /* border-radius: 9px; */
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
                .grade-content {
                    position: absolute;
                    color:whitesmoke;
                    left: 45.45%;
                    top: 13px;
                    font-weight: bold;
                    font-size: 2.7rem;
                }
                    #range-span {
                        font-size: 2.1rem;
                        opacity: .7;
                        transition: .2s;
                        cursor: pointer;
                        top: 17px;
                    }
                    #range-span:hover {
                        font-size: 2.7rem;
                        opacity: 1;
                        top: 13px;
                    }

                input::-moz-range-thumb {
                    background-color: #333;
                    border-radius: 9px;
                    width: 27px;
                    height: 12px;
                    cursor: pointer;
                }

