header {
    width: 100%;
    height: 9rem;
  
    display: flex;
    align-items: center;
    justify-content: center;

    background: #e9e9e9;
    border-bottom: 3px solid darkgray;
}
  
img {
    width: 270px;   
}

@media screen and (max-width: 480px) {

    header {
        height: 7rem;
    }
    img {
        width: 234px 
    }
}