* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: monospace, sans-serif;
}

body {
  background-color: lightgray;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

h3 {
  font-size: 1.8rem;
}

span {
  font-size: 2.1rem;
}

main {
  width: 100%;
  height: 63rem;

  padding: 3rem;

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {

  main {
    height: 57rem;
    padding: 1rem;
  }

  h1 {
    font-size: 2.4rem;
  }
}